@model UpCycling.Models.AdminController.CreateEventViewModel

@using UpCycling.Controllers
<h2>Créer un Évènement</h2>

<div class="row">
    <div class="col-md-8">
        @using (Html.BeginForm(nameof(AdminController.CreateEvent), "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <div>
                <label> Nom :</label>
                @Html.TextBoxFor(m => Model.Nom, new { @class="form-control" })
            </div>
            
            <div>
                <label> Description :</label>

                @Html.TextAreaFor(m => Model.Desc, new { @class = "form-control" })
            </div>

            <div>
                <label> Prix :</label>

                @Html.TextBoxFor(m => Model.Prix, new { @class = "form-control" })
            </div>

            <div>
                <label> Date :</label>

                <input class="form-control" asp-for=Date />
            </div>

            <div>
                <label> Lieu :</label>

                @Html.TextBoxFor(m => Model.Lieu, new { @class = "form-control" })
            </div>

            <div>
                <label> Place :</label>

                @Html.TextBoxFor(m => Model.Place, new { @class = "form-control" })
            </div>

            <br />

            <div class="">
                <input type="submit" class="btn btn-outline-success" value="Créer l'évènement" />
            </div>
        }
    </div>
</div>